<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>This is the greeting page!</p>
    <a href="/students/all">All Students REST</a><br>
    <a href="/students/all">All Students REST</a>
    <br><br>


    <form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
        <p>Id: <input type="text" th:field="*{id}" /> </p>
        <p>Name: <input type="text" th:field="*{content}" /> </p>
        <p><input type="submit" value="Submit"/><input type="reset" value="Reset" /></p>
    </form>

</body>
</html>